{% extends 'base.html' %}
{% block content %}
{{ mood.videos.count }}
<h1>Mood Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ mood.name }}</span>
        <p>Description: {{ mood.description|linebreaks }}</p>
        <h4>Videos:</h4>
        <ul>
          {% for video in mood.videos.all %}
          <li>
            <h5>{{ video.title }}</h5>
            <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
            <p>{{ video.description }}</p>
          </li>
          {% empty %}
          <li>No videos found.</li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        <a href="{% url 'moods_update' mood.id %}">Edit</a>
        <a href="{% url 'moods_delete' mood.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% for photo in mood.photo_set.all %}
<img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<form action="{% url 'add_photo' mood.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <button type="submit" class="btn">Upload Photo</button>
</form>
{% endblock %}