{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aura Beats</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper" style="background-color: black;">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;AURA BEATS</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li> 
          {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">View All Moods</a></li>
            <li><a href="{% url 'moods_create' %}">Add a Mood</a></li>
            <li><a href="{% url 'my_moods' %}">My Moods</a></li>
            <li><a href="{% url 'search_page' %}">Search Songs</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <div id="mymoods-body">
    <h1 id="mymoods-title">My Moods</h1>
      <div id="mymoods-container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {% for mood in moods %}
          <a href="{% url 'detail' mood.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ mood.name }}</span>
                    <p>Description: {{ mood.description }}</p>
                </div>
            </div>
          </a>
        {% endfor %}
      </div>
  </div>

  <footer class="page-footer" style="background-color: black;">
    <div class="right">All Rights Reserved, &copy; 2023 AURA BEATS &nbsp;</div>
  </footer>

</body>
</html>

