body {
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Gill Sans", sans-serif;
  background-color: rgb(240, 240, 240, 1);
}

/* * {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.home-container {
  background-image: url("/static/img/home.jpg");
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px; 
  border-radius: 10px;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.index {
  width: 75%;
  height: 75%;
}

.addmood {
  width: 65%;
  height: 65%;
}

.container {
  margin: 0;
}

#about-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#D54600;
  opacity: 0.9;
  max-width: 700px;
  max-height: 300px;
  color:  rgb(245, 245, 245, 1);
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em #D54600;;
  outline: 0.8em solid #D54600;;
  /* overflow-y: scroll; */
}

#about-body{
  background-image: url("/static/img/about.png");
  border-radius: 10px;
  background-size: cover;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px; 
}

#index-body {
  background-image: url("/static/img/index.jpeg");
  border-radius: 10px;
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

#index-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color:rgb(101 232 211);
  opacity: 0.9;
  max-width: 700px;
  max-height: 300px;
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em rgb(101 232 211);
  outline: 0.8em solid rgb(101 232 211);
  overflow-y: scroll;
  color: rgb(27 66 246);
}

#title {
  color: rgb(240, 240, 240, 1);
  /* background-color: white; */
  border-radius: 15px;
  opacity: 0.9;
  /* font-size: 64px; */
  text-shadow: 3px 8px 8px rgba(0, 0,0, 1), 
  -2px 0px 8px rgba(0,0,0, 1)
}

#addmood-body {
  background-image: url("/static/img/new_addmoods2.gif");
  background-size: cover;
  border-radius: 10px;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  background-color: rgb(240, 240, 240, 1);
}

#addmood-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240, 1);
  opacity: 0.75;
  max-width: 700px;
  max-height: 300px;
  color: rgb(240, 240, 240, 1);
  padding: 0px;
  /* vertical-align: top; */
  border-radius: 0.8em;
  /* box-shadow: 0 0 0 0.4em rgb(130 228 204); */
  /* outline: 0.8em solid rgb(130 228 204); */
  overflow-y: scroll;
  color: rgb(161 75 147);
  /* border: 2px solid rgb(130 228 204); */
  
}

#title-text {
  color: rgb(240, 240, 240, 1);
  margin: 0px 0px 10px 0px;
  opacity: 1.0;
  font-size: 62px;
  font-family: "Gill Sans", sans-serif;
  text-shadow: 2px 5px 5px rgba(0, 0,0, 1), 
  -1px 0px 5px rgba(0,0,0, 1);
  padding: 5px 20px 5px 20px;
}

#searchsong-body {
  background-image: url("/static/img/songs.avif");
  border-radius: 10px;
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px; 
}

#searchsong-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240, 1);
  opacity: 0.9;
  max-width: 700px;
  max-height: 200px;
  color: rgb(240, 240, 240, 1);
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em rgb(240, 240, 240, 1);
  outline: 0.8em solid rgb(240, 240, 240, 1);
  overflow-y: scroll;
}

#searchsong-title {
  color: rgb(240, 240, 240, 1);
  text-shadow: 2px 5px 5px rgba(0, 0,0, 1), 
  -1px 0px 5px rgba(0,0,0, 1);
}

#songlist-body {
  background-image: url("/static/img/song_results.jpeg");
  border-radius: 10px;
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

#songlist-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color:rgb(210, 218, 228, 0.9);
  opacity: 0.9;
  max-width: 800px;
  max-height: 350px;
  color: rgb(240, 240, 240, 1);
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  /* box-shadow: 0 0 0 0.4em rgb(240, 240, 240, 0.5); */
  outline: 0.8em solid rgb(240, 240, 240, 0.7);
  overflow-y: scroll;
  color: rgb(27 66 246);
}

.songlist-title {
  color: rgb(245, 245, 245, 1);
  text-shadow: 2px 5px 5px rgba(0, 0,0, 1), 
  -1px 0px 5px rgba(0,0,0, 1);
}

.songlist-search {
  color: rgb(245, 245, 245, 1);
  text-shadow: 1px 1px 2px rgba(0, 0,0, 1), 
  -1px 0px 2px rgba(0,0,0, 1);
}

.vid-title {
  font-size: 30px;
  color: black;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.vid-description {
  color: rgb(60, 60, 60);
  margin-left: 10px;
  margin-right: 10px;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -5px;
}

#mymoods-body {
  background-image: url("/static/img/mymood.jpeg");
  border-radius: 10px;
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px; 
}

#mymoods-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(167, 207, 198, 0.9);
  opacity: 0.9;
  max-width: 700px;
  max-height: 300px;
  color: rgb(240, 240, 240, 1);
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  /* box-shadow: 0 0 0 0.4em rgb(230, 112, 142); */
  outline: 0.8em solid rgb(167, 207, 198, 0.9);
  overflow-y: scroll;
}

#mymoods-title {
  color: rgb(240, 240, 240, 1);
  text-shadow: 2px 5px 5px rgba(0, 0,0, 1), 
  -1px 0px 5px rgba(0,0,0, 1);
}

#mooddetails-body {
  background-image: url("/static/img/mooddetail.jpeg");
  border-radius: 10px;
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

#mooddetails-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240, 1);
  opacity: 0.9;
  max-width: 700px;
  max-height: 300px;
  color: rgb(240, 240, 240, 1);
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em rgb(119, 190, 192);
  outline: 0.8em solid rgb(240, 240, 240, 1);
  overflow-y: scroll;
}

.mooddetails-title {
  color: rgb(240, 240, 240, 1);
  margin: 0px;
  text-shadow: 1px 1px 5px rgba(0, 0,0, 1), 
              -1px 0px 5px rgba(0,0,0, 1)
}

.mooddetails-subtitle {
  color: rgb(240, 240, 240, 1);
  margin-bottom: 20px;
  padding: 0px 20px 0px 20px;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 20px;
}

.thumbnail {
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thumbnail:hover .play-button {
  display: none;
}

.hide {
  display: none;
}

.video-embed-iframe {
  width: 100%;
  height: 400px;
  /* margin-top: 20px; */
  margin-bottom: -35px;
  display: none;
}

#login-body {
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  border-radius: 10px;
  padding: 5px;
}

.btn  {
  opacity: 1.0;
  font-family: "Gill Sans", sans-serif;
}

form {
  font-family: "Gill Sans", sans-serif;
}

.card {
  width: 640px;
  /* border: 1px solid black; */
  border-radius: 50px;
  opacity: 1.0;
  background-color: rgb(240, 240, 240, 1);
}

.card-content {
  border-radius: 30%;
  opacity: 1.0;
  background-color: rgb(240, 240, 240, 1);
}

.class-name:after {
  content: " ";
  display: block;
  border-bottom: 0.5px solid #9E9E9E;
}