body {
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* * {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.home {
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; 
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.index {
  width: 75%;
  height: 75%;
}

.addmood {
  width: 65%;
  height: 65%;
}

.container {
  margin: 0;
}

#about-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#D54600;
  opacity: 0.9;
  max-width: 700px;
  max-height: 300px;
  color: white;
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em #D54600;;
  outline: 0.8em solid #D54600;;
  overflow-y: scroll;
}

#about-body{
  background-image: url("/static/img/about.jpeg");
  background-size: cover;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; 
}

#index-body {
  background-image: url("/static/img/index.jpg");
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#index-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(101 232 211);
  opacity: 0.9;
  max-width: 700px;
  max-height: 300px;
  color: white;
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em rgb(101 232 211);
  outline: 0.8em solid rgb(101 232 211);
  overflow-y: scroll;
  color: rgb(27 66 246);
}

#title {
  color: rgb(27 66 246);
}

#addmood-body {
  background-image: url("/static/img/addmoods.jpeg");
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#addmood-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(130 228 204);
  opacity: 0.9;
  max-width: 700px;
  max-height: 400px;
  color: white;
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em rgb(130 228 204);
  outline: 0.8em solid rgb(130 228 204);
  overflow-y: scroll;
  color: rgb(161 75 147);
}

#title-text {
  color: rgb(161 75 147);
  margin-top: 0px;
}

#searchsong-body {
  background-image: url("/static/img/songs.jpeg");
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; 
}

#searchsong-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.9;
  max-width: 600px;
  max-height: 200px;
  color: white;
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em white;
  outline: 0.8em solid white;
  overflow-y: scroll;
}

#searchsong-title {
  color: white;
}

#songlist-body {
  background-image: url("/static/img/addsong.jpeg");
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#songlist-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  opacity: 0.9;
  max-width: 700px;
  max-height: 300px;
  color: white;
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em white;
  outline: 0.8em solid white;
  overflow-y: scroll;
  color: rgb(27 66 246);
}

.songlist-title {
  color: white;
}

.vid-title {
  font-size: 30px;;
}

#mymoods-body {
  background-image: url("/static/img/mymood.jpeg");
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; 
}

#mymoods-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.9;
  max-width: 700px;
  max-height: 300px;
  color: white;
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em black;
  outline: 0.8em solid black;
  overflow-y: scroll;
}

#mymoods-title {
  color: white;
}

#mooddetails-body {
  background-image: url("/static/img/mooddetail.jpeg");
  background-size: cover;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#mooddetails-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.9;
  max-width: 700px;
  max-height: 400px;
  color: white;
  padding: 10px;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em #8B000E;
  outline: 0.8em solid white;
  overflow-y: scroll;
}

.mooddetails-title {
  color: white;
  margin: 0px;
}

.mooddetails-subtitle {
  color: white;
  margin-bottom: 20px;
}

.thumbnail {
  position: relative;
  display: inline-block;
}

.thumbnail:hover .play-button {
  display: none;
}

.hide {
  display: none;
}

.video-embed-iframe {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  display: none;
}

#login-body {
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}