body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

.bg { 
  max-width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 
} 

#page-footer {
  background-color: #d54600;
}


 