{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/search.js' %}"></script>
<form action="{% url 'search_video'%}" method="GET">
  {% csrf_token %}
  <input type="text" name="q" value="{{ search_term }}" />
  <button type="submit">Search</button>
</form>
<h1>Results For! {{ search_term }}</h1>
{% for video in videos %}
<div class="video-wrapper">
  <h2>{{ video.title }}</h2>
  <p>{{ video.description }}</p>
  <div class="thumbnail" data-video-id="{{ video.video_id }}">
    <img src="{{ video.thumbnail }}" />
    <div class="play-button"></div>
  </div>
  <div class="video-embed video-embed-iframe" id="{{ video.video_id}}"></div>
  <form method="post" action="{% url 'add_to_mood' %}">
    {% csrf_token %}
    <input type="hidden" name="video_id" value="{{ video.video_id}}">
    <input type="hidden" name="video_title" value="{{ video.title}}">
    <input type="hidden" name="video_description" value="{{ video.description}}">
    <input type="hidden" name="video_thumbnail" value="{{ video.thumbnail}}">
    <select name="mood_id">
      {% for mood in moods %}
        <option value="{{ mood.id}}">{{mood.name}}</option>
      {% endfor %}
    </select>
    <button type="submit">Add to Mood</button>
  </form>
</div>
{% endfor %}
<script>
const selectEl = document.querySelectorAll('select');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}